<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/style.css">

	<title>Управление пользователями | РобИн-2024</title>
</head>
<body>
	<div class="wrap">
		<div class="admin-panel">
			<div class="admin-panel__menu">
				<div class="admin-panel__logo">
					<img src="/img/logo.png" alt="">
				</div>
				<nav class="admin-panel__nav">
					<ul class="admin-panel__menu-list">
						<li>
							<a href="#" class="admin-panel__menu-link admin-panel__menu-link--event"></a>
						</li>
						<li>
							<a href="#" class="admin-panel__menu-link admin-panel__menu-link--judgment"></a>
						</li>
						<li>
							<a href="#" class="admin-panel__menu-link admin-panel__menu-link--users"></a>
						</li>
						<li>
							<a href="#" class="admin-panel__menu-link admin-panel__menu-link--settings"></a>
						</li>
					</ul>
					<ul class="admin-panel__menu-list">
						<li>
							<a href="#" class="admin-panel__menu-link admin-panel__menu-link--logout"></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="admin-panel__content">
				<h2>Управление пользователями</h2>
				<div class="admin-panel__controls admin-panel__controls--right">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userEditModal">Добавить пользователя</button>
				</div>

				<div class="cards">
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
					<div class="card user-card mb-2">
						<div class="card-body p-2 p-sm-3 d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-start">
							<span>
								Иванов Иван Иванович
								<span class="user-card__role">Суперадминистратор</span>
							</span>
							<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userEditModal">Изменить</a>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="userEditModal" tabindex="-1" aria-labelledby="userEditModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h1 class="modal-title fs-5" id="userEditModalLabel">Добавить пользователя</h1>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form>
						<div class="modal-body">
							<div class="mb-3">
								<label for="user_fio_input" class="form-label">ФИО</label>
								<input type="text" class="form-control" id="user_fio_input">
								<div class="form-text">Пример: Иванов Иван Иванович</div>
							</div>
							<div class="mb-3">
								<label for="user_role_select" class="form-label">Роль пользователя</label>
								<select id="user_role_select" class="form-select">
									<option>Выберите роль</option>
									<option>Судья</option>
									<option>Специалист</option>
									<option>Редактор</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="user_email_input" class="form-label">Email</label>
								<input type="email" class="form-control" id="user_email_input">
								<div class="form-text">Пример: example@robin-zubronok.by</div>
							</div>
							<div class="mb-3">
								<label for="user_password_input" class="form-label">Пароль</label>
								<input type="password" class="form-control me-2" id="user_password_input">
								<div class="form-text">	
									<button class="btn btn-warning me-2">Показать</button>
									<button class="btn btn-warning">Сгенерировать новый</button>
								</div>
							</div>
							<div class="mb-3">
								<label for="user_phone_input" class="form-label">Телефон</label>
								<input type="tel" class="form-control" id="user_phone_input">
								<div class="form-text">Пример: +375 25 123-45-67</div>
							</div>
							<div class="mb-3">
								<label for="user_organization_input" class="form-label">Учереждение образования</label>
								<input type="text" class="form-control" id="user_organization_input">
								<div class="form-text">Пример: ГУО "Гимназия-колледж искусств"</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
							<button type="button" class="btn btn-primary">Добавить</button>
						</div>
					</form>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>